.document-with-thumbnail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding-left: 0 !important;
    &::before {
        display: none !important;
    }

    img {
        width: 128px;
        height: 128px;
        object-fit: contain;
    }

    .block-dedalo ul > & {
        &::before {
            top: unset;
        }
    }

    > div * + * {
        margin-top: 0 !important;
    }

    @include mobile {
        gap: .5rem;

        img {
            width: 96px;
            height: 96px;
        }
    }
}
