.download-doc {
    // @extend .highlighted-link;
    a {
        display: inline-flex;
        gap: var(--space-xs);
        align-items: center;
        border: 1px solid $grey;
        font-size: var(--step--1);
        padding: var(--space-s);
        text-decoration: none;
        font-weight: normal;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M.625 18.125h18.75v1.25H.625zM15.442 11.692l-.884-.884-3.621 3.62V.625h-1.25v13.803l-3.621-3.62-.884.884 5.129 5.129 5.129-5.129z'/%3E%3C/g%3E%3C/svg%3E");
        }
        &::before {
            flex-shrink: 0;
            content: "";
            display: block;
            width: 1.5em;
            height: 1.5em;
            background-image: url("../img/sprites-svg/file.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &[href$=".pdf"] {
            &::before {
                width: 18px;
                height: 17.625px;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='17.625' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.634 11.667c-.39.115-.963.128-1.578.04a7.53 7.53 0 0 1-1.993-.595c1.179-.172 2.094-.12 2.876.158.185.066.49.242.695.397m-6.578-1.082-.142.039c-.317.086-.626.17-.923.245l-.402.102c-.806.204-1.631.413-2.446.661.31-.747.597-1.501.879-2.24.209-.546.421-1.104.642-1.655.112.184.228.369.35.554.552.842 1.247 1.62 2.042 2.294m-2.052-8.42c.052.921-.147 1.808-.438 2.658-.36-1.052-.527-2.213-.078-3.15.115-.24.21-.369.27-.436.095.146.22.473.246.928M3.792 13.837c-.202.36-.408.699-.62 1.018-.509.768-1.342 1.59-1.77 1.59-.043 0-.094-.007-.168-.085-.048-.05-.056-.087-.053-.136.014-.282.388-.785.93-1.251a9.154 9.154 0 0 1 1.68-1.136m14.207-2.13c-.066-.94-1.649-1.544-1.664-1.55-.612-.217-1.277-.322-2.033-.322-.809 0-1.68.117-2.8.379A9.747 9.747 0 0 1 9 7.644c-.284-.433-.54-.865-.762-1.286.543-1.3 1.033-2.696.944-4.26C9.11.842 8.544 0 7.775 0c-.527 0-.982.39-1.351 1.163-.66 1.375-.486 3.135.514 5.235-.36.847-.695 1.724-1.019 2.574-.403 1.056-.819 2.145-1.287 3.182-1.313.52-2.391 1.15-3.29 1.923-.59.506-1.3 1.28-1.34 2.087-.02.38.11.728.375 1.008.282.296.635.453 1.024.453 1.284 0 2.52-1.765 2.754-2.118.472-.711.914-1.505 1.347-2.42 1.09-.393 2.251-.687 3.377-.972l.403-.102c.303-.077.618-.162.941-.25.342-.093.694-.19 1.051-.28 1.156.735 2.4 1.215 3.612 1.39 1.02.149 1.928.063 2.542-.257.552-.288.583-.732.57-.91' fill='%23E00909' fill-rule='nonzero'/%3E%3C/svg%3E");
            }
        }
        &[href$=".doc"],
        &[href$=".docx"] {
            &::before {
                width: 20px;
                height: 18.88px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='18.88' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='99.998%25' y1='50%25' x2='.003%25' y2='50%25' id='a'%3E%3Cstop stop-color='%23285294' offset='0%25'/%3E%3Cstop stop-color='%232C5A9E' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath d='M8.341 2.333H19.72v14.374H8.341z' fill='%23FFF'/%3E%3Cpath d='M7.665 1.845a.804.804 0 0 0-.807.805v13.578c0 .445.36.805.807.805h11.528c.447 0 .807-.36.807-.805V2.65a.804.804 0 0 0-.807-.805H7.665zm-.161.667h11.844v13.846H7.504V2.512z' fill='%232A5699'/%3E%3Cg fill='%232A5699'%3E%3Cpath d='M9.668 3.936h8.298v1H9.668zM9.668 7.995h8.298v1H9.668zM9.668 5.965h8.298v1H9.668zM9.668 10.024h8.298v1H9.668zM9.668 12.115h8.298v1H9.668zM9.668 14.145h8.298v1H9.668z'/%3E%3C/g%3E%3Cpath fill='url(%23a)' d='M11.378 18.88V0L0 1.888v15.104z'/%3E%3Cpath d='m1.968 6.609 1.107 5.63c.396.035.793.059 1.19.07l.811-3.702c.034-.118.048-.246.062-.492.016.248.025.337.062.492L6 12.413l1.297.077 1.438-6.284-1.269.075-.73 4.17c-.036.17-.06.341-.061.492a1.459 1.459 0 0 0-.061-.491L5.804 6.38l-1.146.068-.873 4.004c-.023.078-.046.22-.061.369a3.874 3.874 0 0 0-.062-.493l-.59-3.785-1.104.066z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
        &[href$=".xls"],
        &[href$=".xlsx"] {
            &::before {
                width: 20px;
                height: 18.88px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='18.88' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='99.998%25' y1='50%25' x2='.003%25' y2='50%25' id='a'%3E%3Cstop stop-color='%231D6B40' offset='0%25'/%3E%3Cstop stop-color='%23217748' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath d='M8.1 2.276h11.378V16.65H8.1z' fill='%23FFF'/%3E%3Cpath d='M7.666 1.845a.804.804 0 0 0-.808.805v13.578c0 .445.36.805.808.805h11.527c.447 0 .807-.36.807-.805V2.65a.804.804 0 0 0-.807-.805H7.666zm-.162.667h11.844v13.846H7.504V2.512z' fill='%231F7144'/%3E%3Cg fill='%231F7144'%3E%3Cpath d='M14.736 3.844h3.189v1.722h-3.19zM10.87 3.844h3.189v1.722h-3.19zM14.736 6.195h3.189v1.722h-3.19zM10.87 6.187h3.189V7.91h-3.19zM14.736 8.579h3.189v1.722h-3.19zM10.87 8.579h3.189v1.722h-3.19zM14.736 10.99h3.189v1.722h-3.19zM10.87 10.975h3.189v1.722h-3.19zM14.736 13.36h3.189v1.722h-3.19zM10.87 13.36h3.189v1.722h-3.19z'/%3E%3C/g%3E%3Cpath fill='url(%23a)' d='M11.378 18.88V0L0 1.888v15.104z'/%3E%3Cpath d='m4.452 6.285.788 2.048c.057.12.083.25.096.338-.006-.102.015-.181.073-.338l.933-2.16 1.435-.085A93.478 93.478 0 0 0 6.1 9.44l1.747 3.45-1.546-.093-.94-2.25c-.073-.17-.058-.193-.073-.276-.007.059-.01.107-.049.214l-.945 2.193-1.326-.08 1.533-3.112-1.38-3.121 1.33-.08z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
        &[href$=".zip"],
        &[href$=".rar"] {
            &::before {
                width: 20px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 14V2v12zm0 2a1.93 1.93 0 0 1-1.413-.587A1.93 1.93 0 0 1 0 14V2C0 1.45.196.979.587.587A1.93 1.93 0 0 1 2 0h6l2 2h8c.55 0 1.021.196 1.413.587.391.392.587.863.587 1.413v10a1.93 1.93 0 0 1-.587 1.413A1.93 1.93 0 0 1 18 16H2zM9.175 4l-2-2H2v12h10v-2h2v2h4V4h-4v2h-2V4H9.175zM14 12h2v-2h-2v2zm-2-2h2V8h-2v2zm2-2h2V6h-2v2z' fill='%235F6368' fill-rule='evenodd'/%3E%3C/svg%3E");
            }
        }
        &[href$=".jpg"],
        &[href$=".jpeg"],
        &[href$=".png"],
        &[href$=".gif"],
        &[href$=".webp"],
        &[href$=".svg"] {
            &::before {
                width: 19px;
                height: 14.667px;
                background-image: url("data:image/svg+xml,%3Csvg width='19.067' height='14.667' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M.366 0A.377.377 0 0 0 0 .366V14.3c0 .195.172.367.366.367H18.7a.377.377 0 0 0 .367-.367V.366A.378.378 0 0 0 18.7 0H.366z' fill='%234ECBFB'/%3E%3Cpath d='M3.667 5.867a2.201 2.201 0 0 1 0-4.4 2.2 2.2 0 0 1 0 4.4' fill='%23FFD732'/%3E%3Cpath d='M17.6 13.2H1.466V11l3.667-3.666 1.833 1.833L12.833 3.3 17.6 8.067V13.2' fill='%2320844D'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
    }
}
