footer {
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
    body:has(main > div[class^="has-background-"]:last-child) & {
        margin-top: 0 !important;
    }
}
