.global-search {
    .search-types-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        button {
            background: none;
            border: none;
            font-size: var(--step-2);
            font-weight: 600;
            padding: 0.5rem;

            &.selected, &:hover, &:focus {
                background-color: $primary;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .global-search-result {
        .thumbnail {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }

    .toggle-more, .toggle-less {
        background: none;
        border: none;
        color: $primary;
        font-size: var(--step-0);
        font-weight: 600;
        padding: 0;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
