.highlighted-link {
    a {
        font-size: var(--step-1);
        font-weight: bold;
        border: solid $grey;
        border-width: 1px 0;
        display: inline-flex;
        gap: var(--space-s);
        align-items: center;
        padding: var(--space-m) var(--space-s);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &::after {
            content: "";
            display: block;
            width: 27px;
            height: 17px;
            background-image: url("data:image/svg+xml,%3Csvg width='27' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.223.219-1.38 1.379 5.648 5.646H.965v1.95H22.49l-5.647 5.646 1.379 1.379 7.999-8-8-7.997z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");
            margin-left: auto;
        }
    }
}
