.lang {
    button {
        all: inherit;
        color: #fff;
        font-weight: 500;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 6px;
            margin-left: 5px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='m.823.823 4 4 4-4'/%3E%3C/svg%3E");
        }
        &[aria-expanded="true"]::after {
            transform: rotate(0.5turn);
        }
    }
    a {
        color: #fff;
    }
    ul {
        position: absolute;
        z-index: 1;
        margin-top: 0.5rem;
        min-width: max-content;
        @include widescreen {
            margin-top: 0;
            top: 100%;
        }
    }
}
