.legal {
    li {
        &::before {
            display: none !important;
        }
        &:not(:last-child)::after {
            content: "·";
            margin-left: var(--space-xs);
        }
    }
}
