.search-types-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    button {
        background: none;
        border: none;
        font-size: var(--step-2);
        font-weight: 600;
        padding: 0.5rem;

        &.selected, &:hover, &:focus {
            background-color: $primary;
            color: #fff;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
