.site-logo {
    @include mobile {
        margin-left: auto;
        margin-right: auto;
    }
    @include tablet {
        svg path:last-child {
            display: none;
        }
        a {
            &:hover,
            &:focus {
                svg path:last-child {
                    display: block;
                }
            }
        }
    }
    @include fullhd {
        padding-bottom: var(--space-m);
        .home & {
            filter: invert(1);
        }
    }
}
