.tabs-2 {
    .tab-list {
        display: flex;
        gap: var(--space-xs);
    }
    .tab-item {
        padding-left: 0;
        margin-top: 0;
        &::before {
            display: none;
        }
    }
    .tab-item > [role="tab"] {
        text-decoration: none;
        border: 2px solid #000;
        background-color: transparent;
        color: #000;
        font-size: var(--step-0);
        font-weight: 300;
        padding: $button-padding-vertical $button-padding-horizontal;
        height: $control-height;
        &::after {
            display: none;
        }
        &.active,
        &:hover,
        &:focus,
        &[aria-selected="true"] {
            border-color: #000;
            background-color: #000;
            color: #fff;
        }
    }
    .tab-content {
        padding: var(--space-m) 0 0 0;
    }
    .tab-group,
    + .tab-group {
        border-width: 0;
        margin-top: 0;
    }
}