@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Noto-Serif-normal-400);
  src: local('Noto Serif'), url(../../fonts/Noto-Serif-normal-400.woff2) format('woff2'), url(../../fonts/Noto-Serif-normal-400?#iefix) format('embedded-opentype'), url(../../fonts/Noto-Serif-normal-400.ttf) format('truetype'), url(../../fonts/Noto-Serif-normal-400.svg#NotoSerif) format('svg'), url(../../fonts/Noto-Serif-normal-400.woff) format('woff');
  font-display: swap;
}

