<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /juegos/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /juegos/index.html [L]

</IfModule>
