$hamburger-padding-x: var(--space-l);
$hamburger-padding-y: var(--space-s);
$hamburger-layer-width: 0.9375rem;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #fff;

$hamburger-types: (spring) !default;
