$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 1.5625rem;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 7px;
$hamburger-layer-color: #fff;

$hamburger-types: (spring) !default;
